<include file="public:header" />
	<div class="toptit">未登录提醒</div>
	<form action="{:U('login_remind')}" method="post"  name="form1" id="form1">
	<table width="100%" border="0" cellspacing="8" cellpadding="1" style=" margin-bottom:3px; margin-top:10px;">
		<tr>
				<td align="right">开启个人未登录提醒：</td>
				<td>
					<label>
					<input name="per_unlogin_remind_open" type="radio" value="0" <if condition="C('qscms_per_unlogin_remind_open') eq 0">checked="checked"</if>/>否</label>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<label >
					<input type="radio" name="per_unlogin_remind_open" value="1" <if condition="C('qscms_per_unlogin_remind_open') eq 1">checked="checked"</if>/>是</label>
					<span class="admin_note" >（开启后将消耗少许系统资源）</span>	
					
				</td>
			</tr>
		<tr>
			<td width="180" align="right">提醒周期：</td>
			<td > 
				<input name="per_unlogin_remind_cycle" type="text"  class="input_text_200" id="per_unlogin_remind_cycle" value="{:C('qscms_per_unlogin_remind_cycle')}" maxlength="10"/>
				天
			<span class="admin_note" >（如设置30天，则每30天执行一次提醒）</span>			</td>
		</tr>
		<tr>
			<td width="180" align="right">提醒次数限制：</td>
			<td > 
				<input name="per_unlogin_remind_time" type="text"  class="input_text_200" id="per_unlogin_remind_time" value="{:C('qscms_per_unlogin_remind_time')}" maxlength="10"/>
			次<span class="admin_note" >（累计达到次数后不再提醒）</span>			</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td height="50">
				<span style="font-size:14px;">
					<input name="submit2" type="submit" class="admin_submit" value="保存修改"/>
			</span>			</td>
		</tr>
	</table>
	</form>
	 
</div>
<include file="public:footer" />
</body>
</html>