<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="public:meta" />
	<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/index.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
	<script src="../public/js/jquery.banner.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<!--顶部小导航 -->
<div class="index_top_bg">
  <div class="index_top">
    <div class="itopl font_gray6 link_blue">欢迎登录骑士人才系统！请 <a href="javascript:;">登录</a> 或 <a href="javascript:;">免费注册</a></div>
		  <div class="itopr font_gray9 link_gray6"> <a href="javascript:;" class="home">网站首页</a>|<a href="javascript:;" class="m">手机访问</a>|<a href="javascript:;" class="help">帮助中心</a>|<a href="javascript:;" class="shop">积分商城</a>|<a href="javascript:;" class="stat">薪酬统计</a>|<a href="javascript:;" class="last">保存到桌面</a> </div>
	      <div class="clear"></div>
  </div>
</div>
<!--logo通栏-->
<div class="index_head">
	<div class="logobox"><a href="javascript:;"><img src="../public/images/logo.gif" border="0"/></a></div>
	<div class="sobox">
	
	 			 <div class="inputbg">
					 <div class="selecttype J_hoverbut">搜职位</div>
					   <div class="inoputbox"><input name="" type="text"  value=""/></div>
						<input name="" type="submit" class="sobut J_hoverbut" value="搜索" />
	  </div>
		
	      <div class="righttxt link_gray6"><a href="javascript:;">高级搜索</a> <a href="javascript:;1" class="map">地图找工作</a></div>
	</div>
		
	<div class="clear"></div>
</div>

<div class="index_nav">
  <div class="leftmenu">职位分类</div>
  <div class="rightnav">
  		<ul class="link_gray6 nowrap">
		<li class="nli"><a href="javascript:;">首页</a></li>
		<li class="nli"><a href="javascript:;">招聘信息</a></li>
		<li class="nli"><a href="javascript:;">微商圈</a></li>
		<li class="nli"><a href="javascript:;">求职信息</a></li>
		<li class="nli"><a href="javascript:;">招聘信息</a></li>
		<li class="nli"><a href="javascript:;">帮助</a></li>
		<li class="nli"><a href="javascript:;">新闻咨询</a></li>
		<li class="nli"><a href="javascript:;">微商圈</a></li>
		<li class="nli"><a href="javascript:;">求职信息</a></li>
		</ul>
		<div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>


 


 
<!-- -->
  <div class="index_banner">
    <div class="banmain">
      <div class="menu">
	  <ul>
	  <li class="substring J_hoverbut c1">生活/服务业</li>
	  <li class="substring J_hoverbut c2">人力/行政/管理</li>
	  <li class="substring J_hoverbut c3">销售/客服/采购/淘宝</li>
	  <li class="substring J_hoverbut c4">市场/媒介/广告/设计</li>
	  <li class="substring J_hoverbut c5">生产/物流/质控/汽车</li>
	  <li class="substring J_hoverbut c6">网络/通信/电子</li>
	  <li class="substring J_hoverbut c7">法律/教育/翻译/出版</li>
	  <li class="substring J_hoverbut c8">财会/金融/保险</li>
	  <li class="substring J_hoverbut c9">医疗/制药/环保</li>
	  <li class="substring J_hoverbut c10">建筑/装修/物业/其他</li>
	  </ul>
	  </div>
	  
      <div class="rightlist">
	  
	  
	  
	    <div class="loninbox">
		  		<div class="photo"><img src="../public/images/08.png" border="0"/></div>
				<div class="hi">HI</div>
				<div class="clear"></div>
		</div>
	  
  		<div class="bantittab">
		  <div class="J_hoverbut tli select">公告</div>
		  <div class="J_hoverbut tli">招聘会</div>
		  <div class="J_hoverbut tli">帮助</div>
		  <div class="clear"></div>
		</div>
		
		
		
		
	    <div class="ban_r_showtabs" style="display:block">
			<ul class="link_gray6">
			<li class="substring"><a href="javascript:;">[公告] 北京姑娘当选密歇根小姐 疑遭新华书店官微讽刺</a></li>
			<li class="substring"><a href="javascript:;">[公告] 美国政府被曝向伊朗空运四亿美元现金 当天人质获释</a></li>
			<li class="substring"><a href="javascript:;">[公告] 河北涿鹿教科局长辞职:是阴谋阻断了这场教改</a></li>
			<li class="substring"><a href="javascript:;">[公告] 周世锋被认定犯颠覆国家政权罪 判处有期徒刑7年</a></li>
			</ul>
		</div>
		<div class="ban_r_showtabs">
			<ul class="link_gray6">
			<li class="substring"><a href="javascript:;">[招聘会] 北京姑娘当选密歇根小姐 疑遭新华书店官微讽刺</a></li>
			<li class="substring"><a href="javascript:;">[招聘会] 美国政府被曝向伊朗空运四亿美元现金 当天人质获释</a></li>
			<li class="substring"><a href="javascript:;">[招聘会] 河北涿鹿教科局长辞职:是阴谋阻断了这场教改</a></li>
			<li class="substring"><a href="javascript:;">[招聘会] 周世锋被认定犯颠覆国家政权罪 判处有期徒刑7年</a></li>
			</ul>
		</div>
		<div class="ban_r_showtabs">
			<ul class="link_gray6">
				<li class="substring"><a href="javascript:;">[帮助] 北京姑娘当选密歇根小姐 疑遭新华书店官微讽刺</a></li>
				<li class="substring"><a href="javascript:;">[帮助] 美国政府被曝向伊朗空运四亿美元现金 当天人质获释</a></li>
				<li class="substring"><a href="javascript:;">[帮助] 河北涿鹿教科局长辞职:是阴谋阻断了这场教改</a></li>
				<li class="substring"><a href="javascript:;">[帮助] 周世锋被认定犯颠覆国家政权罪 判处有期徒刑7年</a></li>
				</ul>
		</div>
      </div>
    </div>
  </div>



 
















 
</body>
</html>
